<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button (click)="nombres()" expand="block" fill="clear" shape="round">
      datos
    </ion-button>
    <p>
      Ip Privada ---  {{ipPrivada}}
    </p>
    <p>
      Ip Publica ---  {{ipPublica}}
    </p>
    <p>
      proxxy:
      {{proxxy}}
    </p>
    <p>
      imei:
      {{imei}}
    </p>
    <p>
      iccid:
      {{iccid}}
    </p>
    <p>
      imsi:
      {{imsi}}
    </p>
    <p>
      mac:
      {{mac}}
    </p>
    <p>
      Model:
      {{model}}
    </p>
    <p>
      PLataforma:
      {{platform}}
    </p>
    <p>
      UUID
      {{Uuid}}
    </p>
    <p>
      WifiInfo:
      {{ auxwifiInfo }}
    </p>
    <p>
      coordenadas:
      {{latitude}}<br>
      {{longitude}}
    </p>
    <p>
      Dirección:
      {{address}}
    </p>
    <p>
      IANA:
      {{ iana }}
    </p>
    <p>
      zona horaria:
      {{ timezone }}
    </p><p>
      UTC:
      {{ UTC }}
    </p>
  </div>
</ion-content>
